<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <script src="../js/angular.min.js"></script>
</head>
<body ng-app="app">
     <div ng-controller="ctrl">
        网站开启:
        <input type="radio" ng-model="status" ng-value="1"> 开启
        <input type="radio" ng-model="status" ng-value="0"> 关闭
        {{status}}
        <div ng-show="status==0">
            <h2>关闭原因:</h2>
        <textarea>后盾网正在维护中,2:00可以访问</textarea>
    </div>
     </div>
</body>
<script>
    var app = angular.module('app', []);
    app.controller('ctrl', ['$scope', function ($scope) {
        $scope.status=1;
    }]);
</script>
</html>