<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <script src="../js/angular.min.js"></script>
</head>
<body ng-app="app">
     <div ng-controller="ctrl">
        {{name}} <input type="text" ng-model="name">
        <hr>
        <hello></hello>
        <hr>
        <hello></hello>
     </div>
</body>
<script>
    var app = angular.module('app', []);
    app.controller('ctrl', ['$scope', function ($scope) {
         $scope.name = "angular";
    }]);
    app.directive('hello', [function () {
        return {
            restrict: 'AEC',
            template: '{{name}} <input type="text" ng-model="name">',
            scope: {}
        }
    }]);
</script>
</html>