<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <script src="../js/angular.min.js"></script>
</head>
<body ng-app="app">
     <div ng-controller="ctrl">
        <input type="text" ng-model="name">
        <h1 hello my-color="name"></h1>
     </div>
</body>
<script>
    var app = angular.module('app', []);
    app.controller('ctrl', ['$scope', function ($scope) {
         $scope.name = "red";
         
    }]);
    app.directive('hello', [function () {
        return {
            restrict: 'AEC', 
            template: '{{color}}<span style="color:{{color}}">angular</span><input ng-model="color"/>',
            scope: {color:'=myColor'}
        }
    }]);
</script>
</html>