<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <script src="../js/angular.min.js"></script>
</head>
<body ng-app="app">
     <div ng-controller="ctrl">
    性别 :<select ng-model="user.sex">
        <option value="">选择性别</option>
        <option ng-value="1" ng-selected="user.sex==1">男</option>
        <option ng-value="2" ng-selected="user.sex==2">女</option>
    </select>
        <input type="radio" ng-model="user.sex" ng-value="1">男
        <input type="radio" ng-model="user.sex" ng-value="2">女
     </div>
</body>
<script>
    var app = angular.module('app', []);
    app.controller('ctrl', ['$scope', function ($scope) {
        
    }]);
</script>
</html>